<div class="col-md-8 offset-md-2" style="padding-top: 10%;">
<div class="card text-center">
    <div class="card-header" style="background-color: rgb(0, 255, 115);">
      <B style="color:rgb(18, 50, 109);">WORLD BANK</B>
    </div>
    <div class="card-body" style="background-color: rgb(117, 226, 226);">
      <h5 class="card-title">Welcome,Admin</h5>
      <p class="card-text">From here you can manage all of core Internet Banking Setting
          You can add/manage customers ,view their transactions,edit there details and even delete them
          You can also Post news on the website
      </p>
      <p class="card-text">Please Keep in mind that with big power comes big responsibilities. Therefore please do not mis-use
          your admin control to create trouble 
      </p>
      
    </div>
    
  </div>
</div>