<div class="container col-md-12 " style="padding-top:20px;">
  <div class="card">
      <div class="input-group card-header" id="head" style="padding-top:20px; padding-bottom: 20px;">
          <input class="form-control col-md-8" type="search"  id="example-search-input" [(ngModel)]="search2" >
          <span class="input-group-append">
              <div class="input-group-text bg-dark"><i class="fa fa-search" style="font-size:20px;color:rgb(236, 231, 231)"></i></div>
          </span>
      </div> 
      <div class="card-body">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <table class="table table-hover ">
                  <thead class="bg-success">
                    <tr>
                      <th scope="col">Transaction Id</th>
                      <th scope="col">Date</th>
                      <th scope="col">BeneficiaryName</th>
                      <th scope="col">Beneficiary A/c</th>
                      <th scope="col">Transefer Amount</th>
                      <!-- <th scope="col">remarks</th> -->
                    </tr>
                  </thead>
                  <tbody *ngFor= 'let transaction of Transactions |filter2 : search2'>
                    <tr>
                      <th scope="row">{{transaction.transactionId}}</th>
                      <td>{{transaction.date}}</td>
                      <td>{{transaction.beneficiaryfirstName}}</td>
                      <td>{{transaction.b_accountno}}</td>
                      <td>{{transaction.amount}}</td>
                      <!-- <td>{{transaction.remarks}}</td> -->
                      
                      
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
        
      </div>
    </div>
  </div>