
<div style="padding-top: 70px;">
  
  <div class="card col-lg-8 " >
  <div class="card-body ">
    
      <div class="card-header">
          <h3 class="text-lg-center">ATM SIMULATOR</h3>
      </div>
      <p>&nbsp;</p>
<form >
    <div class="form-row">
        <div class="form-group">
            <label> Account Number</label>
            <input type="number" class="form-control no-outline" id="accno">
        </div>
        <div class="form-group" style="padding-left: 50px;">
          <label> Enter Amount(in INR)</label>
          <input type="number" class="form-control no-outline" id="amount">
      </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Select Type</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
              <label class="form-check-label" for="gridRadios1">
                Credit
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                Debit
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-row">
        <div class="form-group">
            <label> Pin(4 digit)</label>
            <input type="number" class="form-control no-outline" id="accno">
        </div>
    </div>
    
     
      
    <button type="submit" class="btn btn-primary" style='margin-right:16px'>SUBMIT</button>
    <button type="reset" class="btn btn-danger" style='margin-right:16px'>RESET</button>
  </form>
    </div>
  </div>
</div>