<div class="col-md-6 offset-md-3" style="padding-top: 10%;">
<div class="card text-center">
    <div class="card-header">
      <B style="color:cornflowerblue;">WORLD BANK</B>
    </div>
    <div class="card-body" *ngIf="User1">
      <h5 class="card-title">Welcome,{{User1.firstname}}</h5>
      <p class="card-text">Your Account Number is {{User1.accountno}}</p>
      <p class="card-text">Your Account balance is Rs.{{User1.balance}}</p>
      
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
</div>